gmon.out
gmon.txt
*.log

_build
_draft
draft
*_draft.ml
*_draft.mli
*_old.ml
*_old.mli
*_draft.al
*_draft.ali
doc
.alba
*.native
*.byte
*.d.native
*.p.byte
*.docdir
*.odocl
*~
ocaml/alba
ocaml/alba-debug
ocaml/alba-node
ocaml/alba_web.js
\#*
.\#*
todo.md
.emacs.*
ocaml/sha1.ml
