gmon.out
gmon.txt
*.log

_build
_draft
*_draft.ml
*_draft.mli
*_draft.al
*_draft.ali
doc
.alba
*.js
*.native
*.byte
*.d.native
*.p.byte
*.docdir
*.odocl
*~
\#*
.\#*
todo.md
.emacs.*
ocaml/makefile
ocaml/sha1.ml
